.description {
    color: red;
    background-color: rgba(0, 255, 0, .5);
}

a:hover{
    color: #adff2f;
}
p.description > a{
    text-decoration: none;
    color: #000000;   
}

.animals {
    width: 240px;
    height: 240px;
    object-fit: cover;
}
    
